@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --primaryColor: #EC362D;
    --bodyColor: #FAFAFA;
    --inputBackgroundColor: #fff;
    --inputColor: #D1D1D1;

    --tran-02: all .2s ease;
    --tranHeigh-03: height 3s ease;
    --tran-04: all .5s ease;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bodyColor);
}

#header {
  height: 69px;
  width: 100%;
  background-color: #EC362D;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 37px;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainPageSection main {
  margin: auto;
  margin-top: 69px;

}

.mainPageSection section {
  margin: auto;
  width: 1051px;
}

.mainPageSection section:first-of-type {
  margin-top: 146px;
  margin-bottom: 48px;
}


.mainPageSection section>h1 {
  margin-bottom: 12px;
}

.mainPageSection .seus-quizzes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainPageSection .container-quizzes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainPageSection .quizz {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  margin-bottom: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
}

#seusquizzes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 30px;
}

.mainPageSection ion-icon {
  font-size: 30px;
  color: #EC362D;
  margin-left: 26px;
}

.mainPageSection .placeholder-seus-quizzes {
  width: 1051px;
  height: 181px;
  background: #FAFAFA;
  border: 1px dashed #D5D5D5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.mainPageSection .placeholder-seus-quizzes>p {
  font-weight: 400;
  font-size: 20px;
  color: #B9B9B9;
  width: 250px;
}

.mainPageSection .placeholder-seus-quizzes a {
  font-weight: 400;
  font-size: 21px;
  color: #EC362D;
  width: 151px;
  height: 40px;
  background: #FAFAFA;
  border: 1px dashed #EC362D;
  border-radius: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.mainPageSection .add-circleBtn{
    background: transparent;
    border:0;
}

.mainPageSection .add-circleBtn ion-icon{
    cursor:pointer;
}

.mainPageSection .quizz>img {
  width: 340px;
  height: 181px;
  object-fit: cover;
  border-radius: 5px;

}

.mainPageSection .quizz>p {
  width: 301px;
  position: absolute;
  bottom: 7px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
  word-break: break-all;
}

/* addQuizz Page */

/* ====== MainPage Config ====== */

.createQuizzPage {
    overflow: hidden;
    margin-top:100px;
    transition: opacity .4s ease;
}

.createQuizzPage.hidden,
.mainPage.hidden{
  position:absolute;
  opacity:0;
}

 /* #header {
    background-color: var(--primaryColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 700;
} */

.createQuizzPage button {
    cursor: pointer;
}

.createQuizzPage .makingQuestions.hidden,
.createQuizzPage .quizzPage.hidden,
.createQuizzPage .levelsPage.hidden,
.createQuizzPage .finishPage.hidden {
    position: absolute;
    top: -2450px;
    left: 200px;
    opacity: 0;
    z-index: -1
}

.createQuizzPage .makingQuestions,
.createQuizzPage .levelsPage,
.createQuizzPage .finishPage {
    top: 0;
    position: relative;
    opacity: 1;
    transition: var(--tran-04);
}

.createQuizzPage .subtitle {
    margin-top: 37px;
    margin-bottom: 29px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.createQuizzPage .questionTitle {
    font-weight: 700;
    font-size: 20px;
}

.createQuizzPage .formContent {
    padding: 21px 16px 24px 18px;
    background-color: var(--inputBackgroundColor);
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.createQuizzPage .formContent .inputblock {
    position: relative;
}

.createQuizzPage .formContent .inputblock input {
    width: 100%;
    height: 46px;
    margin-top: 14px;
    font-style: italic;
    font-size: 19px;
    padding-left: 17px;
    color: #BABABA;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.createQuizzPage .formContent .inputblock textarea {
    height: 177px;
    margin-top: 14px;
    font-style: italic;
    font-size: 19px;
    color: #BABABA;
    border: 1px solid #D1D1D1;
    padding-left: 17px;
    padding-top: 13px;
    border-radius: 5px;
}

.createQuizzPage .formContent .inputblock label {
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.createQuizzPage .formContent .inputblock .inputError {
    background-color: #FFE9E9;
}

.createQuizzPage .formContent .inputblock .errorText {
    font-size: 12px;
    color: red;
}

.createQuizzPage .formFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.createQuizzPage .formFooter button {
    width: 100%;
    max-width: 368px;
    height: 54px;
    border-radius: 15px;
    background-color: var(--primaryColor);
    color: var(--inputBackgroundColor);
    border: 0;
    font-size: 18px;
    margin-bottom: 40px;
}

.createQuizzPage .formFooter #quizzBtn {
    margin-top: 29px;
}

#questionForm .correctAnswers h3 {
    margin: 28px 0 24px;
}

#questionForm .editIcon{
  cursor:pointer;
}

#questionForm .incorrectAnswers h3 {
    margin: 28px 0 14px;
}

#questionForm .incorrectAnswers .incorrectAnswerBlock {
    margin-bottom: 32px;
}

#questionForm .formContent,
#levelsForm .formContent {
    background-color: var(--bodyColor);
    box-shadow: 0px 0px 0px;
}

#questionForm .questions,
#levelsForm .questions {
    background-color: var(--inputBackgroundColor);
    margin: 24px 0;
    padding: 21px 16px 24px 18px;
    max-height: 970px;
    transition: max-height .5s ease, opacity .5s ease;
}

#questionForm .questions img {
    display: none;
}

#questionForm .questions.close img,
#levelsForm .questions.close img {
    display: initial
}

#questionForm .questions.close,
#levelsForm .questions.close {
    max-height: 62px;
}

#questionForm .inputArea,
#levelsForm .inputArea {
    transition: opacity .5s ease;
    opacity: 1;
}

#questionForm .questions.close .inputArea,
#levelsForm .questions.close .inputArea {
    opacity: 0;
    z-index: -1;
}

#questionForm .titleArea,
#levelsForm .titleArea {
    display: flex;
    justify-content: space-between;
}

/* ====== Finish Page ====== */

.createQuizzPage .finishPage .finishContent .imageArea {
    width: 340px;
    height: 171px;
    margin: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, .5), transparent), url();
    display: flex;
    align-items: flex-end;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 17px;
    color: white;
    border-radius: 5px;
}

.createQuizzPage .finishPage .finishFooter {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createQuizzPage .finishPage .finishFooter .doneQuizzBtn {
    background-color: #EC362D;
    color: white;
    width: 220px;
    height: 44px;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 14px;
}

.createQuizzPage .finishPage .finishFooter .backPageBtn {
    font-size: 18px;
    font-weight: 400;
    color: #818181;
    background: transparent;
    border: 0;
}

/* Loader */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #EC362D;
}

.loader.hide {
    display: none;
}

/* Media Querry */

@media (max-width: 1100px) {
  .mainPageSection section {
    width: 340px;
  }

  .mainPageSection section:first-of-type {
    margin-top: 107px;
    margin-bottom: 38px;
  }

  .placeholder-seus-quizzes {
    width: 340px;
  }

  #seusquizzes {
    justify-content: space-between;
  }

  .createQuizzPage .makingQuestions.hidden,
    .createQuizzPage .quizzPage.hidden,
    .createQuizzPage .levelsPage.hidden,
    .createQuizzPage .finishPage.hidden {
        left: -200px;
    }
}

@media screen and (max-width:440px) {
  .createQuizzPage .makingQuestions.hidden,
  .createQuizzPage .quizzPage.hidden,
  .createQuizzPage .levelsPage.hidden,
  .createQuizzPage .finishPage.hidden {
      left: -400px;
  }
}